*{
  background-color: rgb(15, 11, 247);
}

.banner
{
  box-sizing: border-box;
  width: 50%;
  background-color: rgb(247, 233, 37);
  color: red;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.banner:hover{
  text-transform: uppercase;
}

.types{
  display: flex;
}

.App
{
  color: aquamarine;
  margin: 0px;
  padding: 0px;
}

.h1
{
  text-align: center;
  width: 100%;
  padding: 10px;
  color: yellow;
}

.h1:hover{
  text-decoration: underline;
}

.btn{
  padding: 10px 20px;
}

.btn:hover {
  background-color: black;
  text-transform: uppercase;
  color: red;
}

.card{
  margin-top: 130px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.card:hover{
  background-color: red;
}